
<!--INICIO ETIQUETA PARA MOSTRAR LAS NOTIFICACIONES -->
<div id="notification-container"></div>
<!--FIN ETIQUETA PARA MOSTRAR LAS NOTIFICACIONES -->

<!-- VENTANA PARA CREAR LA REQUISICION -->
<div class="container-fluid" *ngIf="openWindowOf=='create'">
    <div class="card m-4">

        <div class="card-header d-flex justify-content-start">
            <mat-icon matSuffix class="size-3 mr-2">assignment_turned_in</mat-icon>
            <h5>Crear Requisicion</h5>
        </div>
        <div class="card-body">
            
            <!-- Inicio de los inputs -->
            <form [formGroup]="requisitionFormGroup" (ngSubmit)="onCreateRequisition(); stepper.reset();">
                <div class="row ml-4">

                    <mat-form-field class="mr-4">
                        <input matInput placeholder="Número de Requisición" formControlName="requisitionId" readonly type="number">
                        <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                    </mat-form-field>


                    <mat-form-field class="mr-4">
                        <input matInput placeholder="Fecha de Requisicion" formControlName="requistionDate" readonly>
                        <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                    </mat-form-field>
                </div>
            <!-- Fin de los inputs -->
            <!-- Inicio del acordion -->
                <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear" hidden>
                    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
                </button>
                <mat-vertical-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="requisitionFormGroup">
                            <ng-template matStepLabel>Informacion General</ng-template>
                            <div class="d-flex">

                                <mat-form-field class="mr-2 w-25">
                                    <input matInput placeholder="Asignatura" formControlName="class" appAutoFocus>
                                    <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="mr-2 w-25">
                                    <input matInput placeholder="Nombre de la Práctica" formControlName="reqPracticeName">
                                    <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="mr-2 w-25">
                                    <input matInput placeholder="Sección" formControlName="section">
                                    <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="mr-2 w-25">
                                    <mat-select placeholder="Bodega" formControlName="storageId"  name="storage">
                                        <mat-option *ngFor="let storage of _storage" [value]="storage.storageId">
                                        {{storage.storageDescription}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                </mat-form-field>

                            </div>
                            <div class="d-flex align-items-center">
                                <mat-form-field class="mr-2 w-25">
                                    <input type="time" matInput placeholder="Hora de clase" formControlName="classHour" (change)="verificationRequisitionTime($event,'')">
                                    <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="mr-2 w-25">
                                    <input matInput [matDatepicker]="picker" placeholder="Fecha a realizarse" formControlName="practiceDate" (dateChange)="verificationRequisitionTime('',$event)">
                                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                                    <mat-datepicker #picker ></mat-datepicker>
                                </mat-form-field>

                                <div class="d-flex justify-content-start w-50">
                                    <mat-icon matSuffix class="size-3 mr-2 input-state" id="statusRequisitionDate">brightness_1</mat-icon>
                                    <span class="mr-2">Estado de la Fecha</span>
                                    <span class="messagerErrorText">{{statusRequisitionMessage}}</span>
                                </div>
                            </div>
                    </mat-step>

                        <mat-step [stepControl]="requisitionFormGroup">
                                <ng-template matStepLabel>Solicitud de Productos</ng-template>
                                <div>
                                    <div formArrayName="requisitionDetails" *ngFor="let product of requisitionFormGroup.get('requisitionDetails').controls; let i = index">
                                        <div [formGroupName]="i" class="d-flex">
                                            <div class="m-3">#{{i+1}}</div>
                                            <mat-form-field class="mr-2 w-100">
                                                <input type="number" matInput placeholder="Cantidad" formControlName="Quantity">
                                                <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                            </mat-form-field>

                                            <mat-form-field class="mr-4 w-100">
                                                <mat-select placeholder="Producto" formControlName="ProductId"  name="description">
                                                    <mat-option *ngFor="let product of _product" [value]="product.productId">
                                                    {{product.productName}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                            </mat-form-field>

                                            <mat-form-field class="mr-4 w-100">
                                                <input matInput placeholder="Observacion" formControlName="observation">
                                                <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                            </mat-form-field>

                                            
                                            <a mat-icon-button color="primary">
                                                <mat-icon aria-label="icon-button with a heart icon" (click)="addNewLineProduct()">add_circle</mat-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                        </mat-step>

                </mat-vertical-stepper>
           

            <!-- Fin del acordion -->
            <div class="m-4 d-flex  text-center">
                <a mat-button (click)="initDataFormRequisition(''); stepper.reset();" class="mr-4">Resetear Campos</a>
                <button mat-flat-button class="my-bg-primary text-white ml-4" type="submit" [disabled]="!requisitionFormGroup.valid">Guardar Cambios</button>
                <a mat-flat-button class="my-bg-primary text-white ml-4" (click)="openTypeWindow('','');">Volver</a>
            </div>
            </form>

        </div>
    </div>
</div>

<!-- VENTANA PARA EDITAR LA REQUISICION -->
<div class="container-fluid" *ngIf="openWindowOf=='edit'">
    <div class="card m-4">

        <div class="card-header d-flex justify-content-start">
            <mat-icon matSuffix class="size-3 mr-2">assignment_turned_in</mat-icon>
            <h5>Editar Requisicion</h5>
        </div>
        <div class="card-body">
            <!-- Inicio de los inputs -->
            <form [formGroup]="requisitionFormGroup" (ngSubmit)="onEditRequisition(); stepper.reset();">
                <div class="row ml-4">

                    <mat-form-field class="mr-4">
                        <input matInput placeholder="Número de Requisición" formControlName="requisitionId" readonly type="number">
                        <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                    </mat-form-field>


                    <mat-form-field class="mr-4">
                        <input matInput placeholder="Fecha de Requisicion" formControlName="requistionDate" readonly>
                        <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                    </mat-form-field>
                </div>
            <!-- Fin de los inputs -->
            <!-- Inicio del acordion -->
                <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear" hidden>
                    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
                </button>
                <mat-vertical-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="requisitionFormGroup">
                            <ng-template matStepLabel>Informacion General</ng-template>
                            <div class="d-flex">

                                <mat-form-field class="mr-2 w-25">
                                    <input matInput placeholder="Asignatura" formControlName="class" id="class" appAutoFocus>
                                    <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="mr-2 w-25">
                                    <input matInput placeholder="Nombre de la Práctica" formControlName="reqPracticeName">
                                    <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="mr-2 w-25">
                                    <input matInput placeholder="Sección" formControlName="section">
                                    <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="mr-2 w-25">
                                    <mat-select placeholder="Bodega" formControlName="storageId"  name="storage">
                                        <mat-option *ngFor="let storage of _storage" [value]="storage.storageId">
                                        {{storage.storageDescription}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                </mat-form-field>

                            </div>
                            <div class="d-flex align-items-center">
                                <mat-form-field class="mr-2 w-25">
                                    <input type="time" matInput placeholder="Hora de clase" formControlName="classHour">
                                    <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="mr-2 w-25">
                                    <input matInput [matDatepicker]="picker" placeholder="Fecha a realizarse" formControlName="practiceDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <div class="d-flex justify-content-start w-50">
                                    <mat-icon matSuffix class="size-3 mr-2 input-state">brightness_1</mat-icon>
                                    <span class="mr-2">Estado de la Fecha</span>
                                    <span class="text-danger">{{statusRequisitionMessage}}</span>
                                </div>
                            </div>
                    </mat-step>

                        <mat-step [stepControl]="requisitionFormGroup">
                                <ng-template matStepLabel>Solicitud de Productos</ng-template>
                                <div *ngFor="let productArray of dataRequisitionFiltered.requisitionDetails; let j = index">
                                    <div formArrayName="requisitionDetails" *ngFor="let product of requisitionFormGroup.get('requisitionDetails').controls; let i = index">
                                        <div [formGroupName]="i" class="d-flex">
                                            <div class="m-3">#{{i?i+1:j+1}}</div>
                                            <mat-form-field class="mr-2 w-100">
                                                <input type="number" matInput placeholder="Cantidad" formControlName="Quantity" [value]="productArray.quantity">
                                                <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                            </mat-form-field>

                                            <mat-form-field class="mr-4 w-100">
                                                <mat-select  placeholder="Producto" [value]="productArray.productId" name="description" (selectionChange)="saveDataSelect(productArray.productId);">
                                                    <mat-option *ngFor="let product of _product" [value]="product.productId" >
                                                    {{product.productName}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                            </mat-form-field>

                                            <mat-form-field class="mr-4 w-100">
                                                <input matInput placeholder="Observacion" formControlName="observation">
                                                <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                            </mat-form-field>

                                            
                                            <a mat-icon-button color="primary">
                                                <mat-icon aria-label="icon-button with a heart icon" (click)="addNewLineProduct()">add_circle</mat-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                        </mat-step>

                </mat-vertical-stepper>
            

            <!-- Fin del acordion -->
            <div class="m-4 d-flex  text-center">
                <a mat-button disabled class="mr-4">Resetear Campos</a>
                <button mat-flat-button class="my-bg-primary text-white ml-4" type="submit">Guardar Cambios</button>
                <a mat-flat-button class="my-bg-primary text-white ml-4" (click)="openTypeWindow('','');">Cancelar</a>
            </div>
        </form>

        </div>
    </div>
</div>

<!-- VENTANA VER REQUISICION -->
<div class="container-fluid" *ngIf="openWindowOf=='view'">
        <div class="card m-4">
    
            <div class="card-header d-flex justify-content-start">
                <mat-icon matSuffix class="size-3 mr-2">assignment_turned_in</mat-icon>
                <h5>Detalles de la Requisición</h5>
            </div>
            <div class="card-body">
                <!-- Inicio de los inputs -->
                <form [formGroup]="requisitionFormGroup">
                    <div class="row ml-4">
    
                        <mat-form-field class="mr-4">
                            <input matInput placeholder="Número de Requisición" formControlName="requisitionId" readonly type="number">
                        </mat-form-field>
    
    
                        <mat-form-field class="mr-4">
                            <input matInput placeholder="Fecha de Requisicion" formControlName="requistionDate" readonly>
                        </mat-form-field>
                    </div>
                <!-- Fin de los inputs -->
                <!-- Inicio del acordion -->
                    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear" hidden>
                        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
                    </button>
                    <mat-horizontal-stepper [linear]="isLinear" #stepper>
                        <mat-step [stepControl]="requisitionFormGroup">
                                <ng-template matStepLabel>Informacion General</ng-template>
                                <div style="color:#6c757d">
                                    <div class="d-flex inputEnabled">
        
                                        <mat-form-field class="mr-2 w-25">
                                            <input matInput placeholder="Asignatura" formControlName="class" id="class" readonly>
                                        </mat-form-field>
        
                                        <mat-form-field class="mr-2 w-25">
                                            <input matInput placeholder="Nombre de la Práctica" formControlName="reqPracticeName" readonly>
                                        </mat-form-field>
        
                                        <mat-form-field class="mr-2 w-25">
                                            <input matInput placeholder="Sección" formControlName="section" readonly>
                                        </mat-form-field>
        
                                        <mat-form-field class="mr-2 w-25">
                                            <mat-select placeholder="Bodega" formControlName="storageId"  name="storage" disabled>
                                                <mat-option *ngFor="let storage of _storage" [value]="storage.storageId" >
                                                {{storage.storageDescription}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
        
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <mat-form-field class="mr-2 w-25">
                                            <input type="time" matInput placeholder="Hora de clase" formControlName="classHour" readonly>
                                        </mat-form-field>
        
                                        <mat-form-field class="mr-2 w-25">
                                            <input matInput [matDatepicker]="picker" placeholder="Fecha a realizarse" formControlName="practiceDate" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        </mat-form-field>
        
                                        <div class="d-flex justify-content-start w-50">
                                            <mat-icon matSuffix class="size-3 mr-2 input-state">brightness_1</mat-icon>
                                            <span class="mr-2">Estado de la Fecha</span>
                                        </div>
                                    </div>
                                </div>
                                <fieldset>
                                    <legend>  Productos Solicitados</legend>
                                    <div style="color:#6c757d">
                                        <div *ngFor="let productArray of dataRequisitionFiltered.requisitionDetails; let j = index">
                                            <div formArrayName="requisitionDetails" *ngFor="let product of requisitionFormGroup.get('requisitionDetails').controls; let i = index">
                                                <div [formGroupName]="i" class="d-flex">
                                                    <div class="m-3">#{{i?i+1:j+1}}</div>
                                                    <mat-form-field class="mr-2 w-100">
                                                        <input type="number" matInput placeholder="Cantidad" formControlName="Quantity" [value]="productArray.quantity" readonly>
                                                    </mat-form-field>

                                                    <mat-form-field class="mr-4 w-100">
                                                        <mat-select  placeholder="Producto" [value]="productArray.productId" name="description" disabled>
                                                            <mat-option *ngFor="let product of _product" [value]="product.productId" >
                                                            {{product.productName}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>

                                                    <mat-form-field class="mr-4 w-100">
                                                        <input matInput placeholder="Observacion" formControlName="observation" readonly>
                                                    </mat-form-field>

                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </fieldset>
                        </mat-step>
                    </mat-horizontal-stepper>
                
    
                <!-- Fin del acordion -->
                <div class="m-4 d-flex  text-center">
                    <button mat-flat-button class="my-bg-primary text-white ml-4" type="submit" (click)="openTypeWindow('', '')">Volver</button>
                </div>
            </form>
    
            </div>
        </div>
</div>

<!-- MIGRACION -->
<div *ngIf="!hiddenTabled">
    <div class="container-fluid" >
            <div class="card m-4  container-header" >
                
                <div class="card-header d-flex justify-content-start"> 
                <mat-icon matSuffix class="size-3 mr-2">account_balance_wallet</mat-icon> <h5>Requisiciones</h5>
                </div>
                <div class="card-body">
        
                <!-- INICIO CONTENEDOR DE FILTRO -->
                <div class="mb-3" *ngIf="openWindowOf=='filter'"> 
                    <fieldset class="card">
                    
                    <legend class="s-legend"><mat-icon matSuffix>filter_list</mat-icon><span>Fitrar</span> </legend>
                    
        
                    <div>
        
                        <form class="form-container" [formGroup]="requisitionForm">
        
                        <div class="container-input">
        
                            <mat-form-field class="form-field-full-width">
                                <input matInput #message maxlength="50" placeholder="Busqueda General" appAutoFocus>
                                <mat-icon matSuffix>search</mat-icon>
                                <mat-hint align="start" class="none"><strong>La cantidad de caracteres esta limitada</strong> </mat-hint>
                                <mat-hint align="end" class="none">{{message.value.length}} / 50</mat-hint>
                            </mat-form-field>
        
                        </div>
        
                        <div class="container-input container-filter">
        
                            <mat-form-field class="form-field-full-width mr-4">
                            <input type="tel" matInput placeholder="Código de Requisición">
                            <mat-icon matSuffix>shopping_basket</mat-icon>
                            </mat-form-field>
        
                            <mat-form-field class="form-field-full-width mr-4">
                            <input type="tel" matInput placeholder="Asignatura">
                            <mat-icon matSuffix>shopping_basket</mat-icon>
                            </mat-form-field>
        
                            <mat-form-field class="form-field-full-width mr-4">
                            <input type="tel" matInput placeholder="Sección">
                            <mat-icon matSuffix>shopping_basket</mat-icon>
                            </mat-form-field>
        
                            <mat-form-field class="mr-2 w-25">
                            <input matInput [matDatepicker]="picker" placeholder="Fecha de Requisición" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
        
                        </div>
        
                        </form>
        
                    </div>
                    
                    </fieldset>
                </div>
                <!-- FIN CONTENEDOR DE FILTRO -->
        
                <!-- INICIO CONTENEDOR DE LA TABLA -->
                <div class="card ">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                        </td>
                    </ng-container> 
                    
                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef> Opciones </th>
                        <td mat-cell *matCellDef="let element"> 
                        <a (click)="openTypeWindow('edit', element.requisitionId);" mat-icon-button class="my-color-primary" id = "{{element.requisitionId}}"><mat-icon class="">edit</mat-icon ></a>
                        <a (click)="openTypeWindow('view', element.requisitionId);" mat-icon-button class="my-color-primary" id = "{{element.requisitionId}}"><mat-icon class="">visibility</mat-icon ></a>
                    </td>
                    </ng-container>
                            
                    <ng-container matColumnDef="requisitionId">
                        <th mat-header-cell *matHeaderCellDef> Numero de Requisición </th>
                        <td mat-cell *matCellDef="let element" > {{element.requisitionId}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="class">
                        <th mat-header-cell *matHeaderCellDef> Asignatura </th>
                        <td mat-cell *matCellDef="let element" > {{element.class}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="reqPracticeName">
                        <th mat-header-cell *matHeaderCellDef> Nombre de la Práctica </th>
                        <td mat-cell *matCellDef="let element"> {{element.reqPracticeName}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="section">
                        <th mat-header-cell *matHeaderCellDef> Sección </th>
                        <td mat-cell *matCellDef="let element"> {{element.section}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="storageId">
                        <th mat-header-cell *matHeaderCellDef> Bodega </th>
                        <td mat-cell *matCellDef="let element"> {{element.storageId}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="classHour">
                        <th mat-header-cell *matHeaderCellDef> Hora de la Clase </th>
                        <td mat-cell *matCellDef="let element"> {{parsedDateTime(element.classHour,'time')}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="practiceDate">
                        <th mat-header-cell *matHeaderCellDef>  Fecha de la Práctica </th>
                        <td mat-cell *matCellDef="let element"> {{parsedDateTime(element.practiceDate,'date')}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="requistionDate">
                        <th mat-header-cell *matHeaderCellDef>  Fecha de la Requisición </th>
                        <td mat-cell *matCellDef="let element"> {{parsedDateTime(element.requistionDate,'date')}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="statusRequisitionDate">
                        <th mat-header-cell *matHeaderCellDef>  Alerta  </th>
                        <td mat-cell *matCellDef="let element"> {{element.statusRequisitionDate}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="requisitionStatusId">
                        <th mat-header-cell *matHeaderCellDef>  Estado  </th>
                        <td mat-cell *matCellDef="let element"> {{element.requisitionStatusId}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selection.toggle(row)">
                    </tr>
                    </table> 
        
                </div>
                <!-- FIN CONTENEDOR DE LA TABLA -->
            
                </div>
            </div>  
    </div>
</div>

<!-- BUTTONS FILTER AND ADDED -->
<div class="button-options">
    <a mat-fab (click)="openTypeWindow('create','');" id="add" >
        <mat-icon>add</mat-icon>
    </a>
    
    <a mat-fab (click)="openTypeWindow('filter','');" id="filter" >
        <mat-icon>filter_list</mat-icon>
    </a>
</div>
