<!--INICIO ETIQUETA PARA MOSTRAR LAS NOTIFICACIONES -->
<div id="notification-container"></div>
<!--FIN ETIQUETA PARA MOSTRAR LAS NOTIFICACIONES -->

<div class="container-fluid">
    <div class="card m-4 container-header">

        <div class="card-header d-flex justify-content-start">
            <mat-icon matSuffix class="size-3 mr-2">account_balance_wallet</mat-icon>
            <h5>Productos</h5>
        </div>
        <div class="card-body">

            <!-- INICIO CONTENEDOR DE CREAR -->
            <div class="mb-3" *ngIf="openWindowOf=='create'">
                <fieldset class="card">

                    <legend class="s-legend">
                        <mat-icon matSuffix>add</mat-icon><span>Crear un nuevo Producto</span>
                    </legend>

                    <div>

                        <form [formGroup]="productForm" (ngSubmit)="onCreateProduct()" class="form-container">

                            <div class="container-input">

                                <mat-form-field class="form-field-full-width mr-4">
                                    <input type="text" matInput placeholder="Código" formControlName="productCode" required appAutoFocus>
                                    <mat-icon matSuffix>art_track</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <input type="text" matInput placeholder="Nombre" name="productName" formControlName="productName" required>
                                    <mat-icon matSuffix>shopping_basket</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <input type="number" matInput placeholder="Cantidad" name="quantity" formControlName="quantity" required>
                                    <mat-icon matSuffix>looks_one</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <input matInput placeholder="Costo" type="number" name="productCost" formControlName="productCost" required>
                                    <mat-icon matSuffix>attach_money</mat-icon>
                                </mat-form-field>

                            </div>

                            <div class="container-input">

                                <mat-form-field class="form-field-full-width mr-4">
                                    <mat-select placeholder="Marca" formControlName="productBrandId" name="brand">
                                        <mat-option *ngFor="let brand of _brand" [value]="brand.productBrandId">
                                            {{brand.productBrandName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>featured_play_list</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <mat-select placeholder="Proveedor" formControlName="providersId" name="providers">
                                        <mat-option *ngFor="let provider of _providers" [value]="provider.providersId">
                                            {{provider.providerName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <mat-select placeholder="Bodega" formControlName="storageId" name="storage" required>
                                        <mat-option *ngFor="let storage of _storage" [value]="storage.storageId">
                                            {{storage.storageDescription}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>account_balance_wallet</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <mat-select placeholder="Tipo de Producto" formControlName="typeProductId" name="typeProduct" required>
                                        <mat-option *ngFor="let typeProduct of _typeProduct" [value]="typeProduct.typeProductId">
                                            {{typeProduct.typeProductName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                </mat-form-field>



                            </div>

                            <div class="container-button">
                                <button mat-flat-button class="my-bg-primary text-white" type="submit" [disabled]="!productForm.valid">Guardar Cambios</button>
                            </div>

                        </form>

                    </div>

                </fieldset>
            </div>
            <!-- FIN CONTENEDOR DE CREAR -->

            <!-- INICIO CONTENEDOR DE EDITAR -->
            <div class="mb-3" *ngIf="openWindowOf=='edit'">
                <fieldset class="card">

                    <legend class="s-legend">
                        <mat-icon matSuffix>edit</mat-icon><span>Editar Datos del Producto</span>
                    </legend>

                    <div>

                        <form [formGroup]="productForm" (ngSubmit)="onEditProduct()" class="form-container">

                            <div class="container-input">

                                <mat-form-field class="form-field-full-width mr-4">
                                    <input type="text" matInput placeholder="Código" formControlName="productCode" required appAutoFocus id="productCode">
                                    <mat-icon matSuffix>art_track</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <input type="text" matInput placeholder="Nombre" name="productName" formControlName="productName" required>
                                    <mat-icon matSuffix>shopping_basket</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <input type="number" matInput placeholder="Cantidad" name="quantity" formControlName="quantity" required>
                                    <mat-icon matSuffix>looks_one</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <input matInput placeholder="Costo" type="number" name="productCost" formControlName="productCost" required>
                                    <mat-icon matSuffix>attach_money</mat-icon>
                                </mat-form-field>

                            </div>

                            <div class="container-input">

                                <mat-form-field class="form-field-full-width mr-4">
                                    <mat-select placeholder="Marca" formControlName="productBrandId" name="brand">
                                        <mat-option *ngFor="let brand of _brand" [value]="brand.productBrandId">
                                            {{brand.productBrandName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>featured_play_list</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <mat-select placeholder="Proveedor" formControlName="providersId" name="providers">
                                        <mat-option *ngFor="let provider of _providers" [value]="provider.providersId">
                                            {{provider.providerName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <mat-select placeholder="Bodega" formControlName="storageId" name="storage" required>
                                        <mat-option *ngFor="let storage of _storage" [value]="storage.storageId">
                                            {{storage.storageDescription}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>account_balance_wallet</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <mat-select placeholder="Tipo de Producto" formControlName="typeProductId" name="typeProduct" required>
                                        <mat-option *ngFor="let typeProduct of _typeProduct" [value]="typeProduct.typeProductId">
                                            {{typeProduct.typeProductName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>featured_play_list</mat-icon>
                                </mat-form-field>



                            </div>

                            <div class="container-button">
                                <button mat-flat-button class="my-bg-primary text-white" type="submit" [disabled]="!productForm.valid">Guardar Cambios</button>
                            </div>

                        </form>

                    </div>

                </fieldset>
            </div>
            <!-- FIN CONTENEDOR DE EDITAR -->

            <!-- INICIO CONTENEDOR DE FILTRO -->
            <div class="mb-3" *ngIf="openWindowOf=='filter'">
                <fieldset class="card">

                    <legend class="s-legend">
                        <mat-icon matSuffix>filter_list</mat-icon><span>Fitrar</span>
                    </legend>


                    <div>

                        <form class="form-container" [formGroup]="productForm">

                            <div class="container-input">

                                <mat-form-field class="form-field-full-width">
                                    <input matInput #message maxlength="50" placeholder="Busqueda General" appAutoFocus>
                                    <mat-icon matSuffix>search</mat-icon>
                                    <mat-hint align="start" class="none"><strong>La cantidad de caracteres esta limitada</strong>
                                    </mat-hint>
                                    <mat-hint align="end" class="none">{{message.value.length}} / 50</mat-hint>
                                </mat-form-field>

                            </div>

                            <div class="container-input container-filter">

                                <mat-form-field class="form-field-full-width mr-4">
                                    <input type="tel" matInput placeholder="Código">
                                    <mat-icon matSuffix>art_track</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <input type="tel" matInput placeholder="Nombre">
                                    <mat-icon matSuffix>shopping_basket</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <mat-select placeholder="Marca" formControlName="productBrandId" name="brand">
                                        <mat-option *ngFor="let brand of _brand" [value]="brand.productBrandId">
                                            {{brand.productBrandName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>featured_play_list</mat-icon>
                                </mat-form-field>

                            </div>

                            <div class="container-input container-filter">

                                <mat-form-field class="form-field-full-width mr-4">
                                    <mat-select placeholder="Proveedor" formControlName="providersId" name="providers">
                                        <mat-option *ngFor="let provider of _providers" [value]="provider.providersId">
                                            {{provider.providerName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <mat-select placeholder="Bodega" formControlName="storageId" name="storage" required>
                                        <mat-option *ngFor="let storage of _storage" [value]="storage.storageId">
                                            {{storage.storageDescription}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>account_balance_wallet</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="form-field-full-width mr-4">
                                    <mat-select placeholder="Tipo de Producto" formControlName="typeProductId" name="typeProduct" required>
                                        <mat-option *ngFor="let typeProduct of _typeProduct" [value]="typeProduct.typeProductId">
                                            {{typeProduct.typeProductName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                </mat-form-field>

                            </div>

                        </form>

                    </div>

                </fieldset>
            </div>
            <!-- FIN CONTENEDOR DE FILTRO -->

            <!-- INICIO CONTENEDOR DE LA TABLA -->
            <div class="card ">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef> Opciones </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="openTypeWindow('edit', element.productId);" mat-icon-button class="my-color-primary" id="{{element.productId}}">
                                <mat-icon class="">edit</mat-icon>
                            </a>
                            <a mat-icon-button class="my-color-primary">
                                <mat-icon (click)="open(content)">delete</mat-icon>
                            </a>
                            <ng-template #content let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Esta seguro que desea eliminar el producto?</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-outline-dark" (click)="onDeleteProduct(element.productId);" id="{{element.productId}}">Si</button>
                                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">No</button>
                                </div>
                            </ng-template>
                        </td>

                    </ng-container>

                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef> Codigo </th>
                        <td mat-cell *matCellDef="let element"> {{element.productCode}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef> Costo </th>
                        <td mat-cell *matCellDef="let element"> {{element.productCost}} </td>
                    </ng-container>

                    <ng-container matColumnDef="brand">
                        <th mat-header-cell *matHeaderCellDef> Marca </th>
                        <td mat-cell *matCellDef="let element"> {{element.productBrand.productBrandName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Tipo de Producto </th>
                        <td mat-cell *matCellDef="let element"> {{element.typeProduct.typeProductName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="provider">
                        <th mat-header-cell *matHeaderCellDef> Proveedor </th>
                        <td mat-cell *matCellDef="let element"> {{element.providers.providerName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="storage">
                        <th mat-header-cell *matHeaderCellDef> Bodega </th>
                        <td mat-cell *matCellDef="let element"> {{element.storage.storageDescription}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                    </tr>
                </table>

                <!-- <div *ngIf="dataSource.length === 0">No records found</div> -->

            </div>
            <!-- FIN CONTENEDOR DE LA TABLA -->

        </div>
    </div>
</div>

<div class="button-options">
    <a mat-fab (click)="openTypeWindow('create','');" id="add">
        <mat-icon>add</mat-icon>
    </a>

    <a mat-fab (click)="openTypeWindow('filter','');" id="filter">
        <mat-icon>filter_list</mat-icon>
    </a>
</div>