
    <!-- Add Content Here -->
    <div> 
      <div class="migas">
        <mat-icon>home</mat-icon>
        <span class="text-muted">Dashboard</span>
     </div>
    </div>
    <!-- <div class="text-center h-25 d-flex justify-content-center">
      <div class="card p-5 w-25 h-100 "></div>
      <div class="card p-5  w-25  h-100"></div>
      <div class="card p-5  w-25 h-100"></div>
      <div class="card p-5  w-25 h-100"></div>
    </div>
    <div class="card p-5  w-100 d-inline-block h-75 "></div> -->

    <div class="card-container">
      <div class="card_small">
            <div class="shimmerBG media"></div>
            <div class="p-32">
              <div class="shimmerBG title-line"></div>
              <div class="shimmerBG title-line end"></div>
    
              <div class="shimmerBG content-line m-t-24"></div>
              <div class="shimmerBG content-line"></div>
              <div class="shimmerBG content-line"></div>
              <div class="shimmerBG content-line"></div>
              <div class="shimmerBG content-line end"></div>
            </div>
      </div>

      <div class="card_small">
            <div class="shimmerBG media"></div>
            <div class="p-32">
              <div class="shimmerBG title-line"></div>
              <div class="shimmerBG title-line end"></div>
    
              <div class="shimmerBG content-line m-t-24"></div>
              <div class="shimmerBG content-line"></div>
              <div class="shimmerBG content-line"></div>
              <div class="shimmerBG content-line"></div>
              <div class="shimmerBG content-line end"></div>
            </div>
      </div>

      <div class="card_small">
          <div class="shimmerBG media"></div>
          <div class="p-32">
            <div class="shimmerBG title-line"></div>
            <div class="shimmerBG title-line end"></div>
  
            <div class="shimmerBG content-line m-t-24"></div>
            <div class="shimmerBG content-line"></div>
            <div class="shimmerBG content-line"></div>
            <div class="shimmerBG content-line"></div>
            <div class="shimmerBG content-line end"></div>
          </div>
      </div>

      <div class="card_small">
          <div class="shimmerBG media"></div>
          <div class="p-32">
            <div class="shimmerBG title-line"></div>
            <div class="shimmerBG title-line end"></div>
  
            <div class="shimmerBG content-line m-t-24"></div>
            <div class="shimmerBG content-line"></div>
            <div class="shimmerBG content-line"></div>
            <div class="shimmerBG content-line"></div>
            <div class="shimmerBG content-line end"></div>
          </div>
      </div>

    </div>

    <div class="card-container">
        <div class="card m-4">
          <div class="shimmerBG media"></div>
        </div>
    </div>
